@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #49281a;
  color: bisque;
}

/* header section */
header {
  text-align: center;
  padding: 19px;
  background: url(img/bg1.png), url(img/bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, 100%;
  border-bottom: 2px solid bisque;
}

header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  padding: 20px 0;
  font-weight: 700px;
  font-style: normal;
  color: bisque;
}

header p {
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  font-size: 1.2em;
}

header a {
  border: solid bisque;
  background-color: #49281a;
  color: bisque;
  font-family: "Lato", sans-serif;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* nav section */
nav {
  /* border: 1px solid black; */
  width: 90%;
  margin: 20px auto;
  text-align: center;
  padding: 20px 0;
  font-family: "Lato", sans-serif;
  position: sticky;
  top: -10px;
  transition: 2s;
}

nav ul li {
  display: inline-block;
  border: 1px solid bisque;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #49281a;
}

nav ul li:hover {
  box-shadow: 1px 1px 1px 1px bisque;
  transform: scale(0.5);
}

nav ul li a {
  color: bisque;
  text-decoration: none;
}

#our-menu .menu {
  /* border: 1px solid #000; */
  text-align: center;
}

/* our-menu-section */
#our-menu,
#about-us,
#contact-us {
  width: 90%;
  margin: 20px auto;
}
#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  padding: 20px 0;
  font-weight: 700px;
  font-style: normal;
}

#our-menu h2 {
  background-image: url(img/coffee\ and\ cake.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 15%;
}

/* coffee-section */

#our-menu .card {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #432000;
  color: bisque;
  display: inline-block;
  margin: center;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  line-height: 2em;
}
#our-menu .card .card-img-top {
  width: 100%;
  border-radius: 10px;
}
#our-menu .card h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
}

#our-menu a {
  /* color: #49281a; */
  background-color: #432000;
  color: bisque;
  border: 1px solid bisque;
  text-decoration: none;
}

#our-menu .menu h3 {
  font-family: "Lato", sans-serif;
  margin: 20px auto;
  text-align: left;
  color: bisque;
}

/* #about-us section */
#about-us p,
#contact-us p,
#footer p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  line-height: 1.5;
  padding: 10px 0;
}

/* #contact-us section */

form {
  font-family: "Lato", sans-serif;
  /* border: 1px solid black; */
  width: 50%;
  padding: 20px;
  color: bisque;
}
form div {
  /* border: 1px solid black; */
  padding: 10px;
  margin-bottom: 10px;
}
.form-label {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.form-control {
  width: 65%;
  background-color: #49281a;
  border: none;
  outline: none;
  border-bottom: 1px solid bisque;
  color: bisque;
}

.form-btn {
  width: 150px;
  height: 40px;
  background-color: #49281a;
  color: bisque;
  border: 1px solid bisque;
  border-radius: 5px;
  margin-left: 30%;
  cursor: pointer;
}

.btn {
  font-family: "Lato", sans-serif;
  display: block;
  width: 100px;
  line-height: 40px;
  border-radius: 5px;
  margin: 10px auto;
}

/* footer section */
footer p {
  text-align: center;
  font-size: 1rem;
}
#to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  color: bisque;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  border: 5px solid bisque;
  text-align: center;
  border-radius: 100px;
}

@media screen and (max-width: 1024px) {
  #our-menu h2 {
    background-position: 25%;
  }
  #to-top {
    border-radius: 5px;
    border: 3px solid bisque;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-image: url(img/bg1.png);
    background-size: auto;
  }
  header h1 {
    color: white;
  }
  * {
    color: white;
  }
  #our-menu a {
    color: white;
  }
  nav ul li a {
    color: white;
  }

  #our-menu h2 {
    background-position: 30%;
  }
  h2 {
    color: white;
  }
  #our-menu .menu h3 {
    color: white;
  }
  .form-btn {
    color: white;
  }
  header a {
    color: white;
  }
  #to-top {
    border-radius: 5px;
    border: 3px solid bisque;
  }
}

@media screen and (max-width: 425px) {
  nav {
    /* border: 2px solid black; */
    font-size: x-small;
    position: sticky;
    width: 50%;
    text-align: center;
    padding: 3px;
  }

  nav ul li:hover {
    box-shadow: 1px 1px 1px 1px bisque;
    transform: scale(1.5);
  }

  #our-menu h2 {
    background-position: 70%;
  }
  #to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: bisque;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid bisque;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 3px 10px yellowgreen;
  }
  .btn {
    font-size: x-small;
    position: sticky;
    width: 20%;
    line-height: normal;
    text-align: center;
    padding: 3px;
  }
  .btn:hover {
    transform: scale(1.8);
    transition: 1s;
  }
}
